<!DOCTYPE html>
<html>
<head>
    <title>Subtledata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid">

    <h1>{{ location.name }}</h1>

    <p>Welcome to the Subtledata Developer garage!</p>

    <p>Go ahead and make an order with your seat number and we'll have cold beers on your way!</p>

    <form name="ordering" action="/order" method="POST">
        <fieldset>
            {% for item in location.menu %}

                <label>{{ item.name }}
                    <select name="{{ item.id }}-qty">

                        {% for qty in qty_options %}
                            <option>{{ qty }}</option>
                        {% endfor %}

                    </select>
                </label>
            {% endfor %}
            <label>Seat Number
            <input type="text" name="seat_number" placeholder="Enter your seat number...">
            </label>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Place Order</button>
            <button type="reset" class="btn">Reset</button>
        </div>
    </form>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</div>
</body>
</html>