<!DOCTYPE html>
<html>
<head>
    <title>Subtledata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid">
    <h1>{{ location.name }}</h1>
    {% if success %}


        <p>Your cold beer is on its way to you!</p>

        <p>To get early beta access to our new JSON API, pelase enter your email address:</p>

        <form name="subscribe" action="/subscribe" method="POST">
            <fieldset>
                <label>Email Address
                    <input type="text" name="email" placeholder="Enter your email address...">
                </label>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Subscribe</button>
                <button type="reset" class="btn">Reset</button>
            </div>
        </form>
    {% else %}
        <p>Sorry, there was a problem with your order.  Please try again.</p>
    {% endif %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</div>
</body>
</html>