<!DOCTYPE html>
<html>
<head>
    <title>Subtledata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid">
    <h1>{{ location.name }}</h1>
        <p>Thank you!  We will keep you updated and get you early access to the API as soon as possible.  Enjoy your cold beers!</p>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</div>
</body>
</html>